<div class="row">
  <% data.forEach((item, index) => { %>
    <div class="col-md-3">
      <div class="card">
        <img src="<%= item[imageField] %>" class="card-img-top" alt="<%= item[fieldName] %>">
        <div class="card-body">
          <h5 class="card-title"><%= item[fieldName] %></h5>
          <p class="card-text">Price: <%= item[priceField] %></p>
          <form action="/api/meat/cart/<%= item._id %>" method="GET">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    <% if ((index + 1) % 4 === 0) { %>
      </div><div class="row">
    <% } %>
  <% }); %>
</div>
