<!DOCTYPE html>
<html>
<head>
  <title>Meat Detail</title>
</head>
<body>
  <h1><%= meat.name %></h1>
  <img src="<%= meat.image %>" alt="<%= meat.name %>">
  <p>Price: <%= meat.price %></p>
  <p>Description: <%= meat.description %></p>
  <a href="/api/meat/list" class="btn btn-secondary">Back to List</a>
</body>
</html>
